body{
    background-color: whitesmoke;
}
.col-md-2{
    color: white;
    background-color: rgb(96, 152, 235);
}
.col-md-10{
    font-size: xx-large;
color: rgb(0, 1, 3);
}
header{
    color: white;
    background-color: rgb(96, 152, 235);
    text-align: center;
}