body{
    background-color: aliceblue;
}
.col-md-2{
    color: white;
    background-color: black;
}
.col-md-10{
color: black;
}
header{
    color: white;
    background-color: black;
    text-align: center;
}